includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		- '#Parameter \#2 \$value of method Nette\\Mail\\MimePart::setHeader\(\) expects array\|string, null given\.#'
